[Unit]
Description=dnsmasq DHCP/DNS (ConsolePi eth0 specific instance)
Requires=network.target
Wants=nss-lookup.target
Before=nss-lookup.target
After=network.target

[Service]
Type=forking
PIDFile=/run/dnsmasq.eth0.pid
ExecStart=dnsmasq -7 /etc/ConsolePi/dnsmasq.d/wired-dhcp -C /dev/null -x /run/dnsmasq.eth0.pid
ExecReload=/usr/bin/pkill "-F /run/dnsmasq.eth0.pid" && dnsmasq -7 /etc/ConsolePi/dnsmasq.d/wired-dhcp -C /dev/null || echo consolepi-wired-dhcp-service Failed to Restart

[Install]
WantedBy=multi-user.target
Alias=dnsmasq.eth0.service
