[Unit]
Description=ConsolePi API: facilitates ConsolePis sharing info in Cluster
DefaultDependencies=no
After=networking.service


[Service]
Type=simple
# ExecStart=/etc/ConsolePi/venv/bin/python3 /etc/ConsolePi/ConsolePi_API.py
ExecStart=/etc/ConsolePi/venv/bin/python3 /etc/ConsolePi/src/ConsolePi_API.py


[Install]
WantedBy=network-online.target
