/readme_content/*.png
/readme_content/*.jpg
/originals
ConsolePi.conf
ConsolePi.cloud
/installer/install.log*
/installer/ConsolePi_image_creator.sh
# /cloud/*/.credentials/*  # ignored via file in that dir
