# /readme_content/*.png
# /readme_content/*.jpg
/bak
ConsolePi.conf
ConsolePi.cloud
cloud.data
*.data
*.json
/installer/install.log*
/installer/ConsolePi_image_creator.sh
*__pycache__*
.idea/*
# /cloud/*/.credentials/*  # ignored via file in that dir
.vscode/*
/cloud/gdrive/headless-auth/*
/src/consolepi-commands/resize

# venv
.venv
venv/