/readme_content/*.png
/readme_content/*.jpg
/originals
ConsolePi.conf
ConsolePi.cloud
/installer/install.log*
/installer/ConsolePi_image_creator.sh
*__pycache__*
.idea/*
# /cloud/*/.credentials/*  # ignored via file in that dir
.vscode/*
/cloud/gdrive/headless-auth/*
