{
    "cloud_lab": {
        "type": "tasmota",
        "address": "10.115.0.129",
        "linked": true,
        "linked_devs": ["/dev/2930F-cloud_lab", "/dev/SD-Branch1-cloud_lab"]
        },
    "Aruba8325_Top": {
        "type": "GPIO",
        "address": 4,
        "noff": true,
        "linked": true,
        "linked_devs": ["/dev/8325T"]
        },
    "labpower1": {
        "type": "dli",
        "address": "labpower1.example.com",
        "username": "apiuser",
        "password": "redacted"
        },
    "labpower2": {
        "type": "dli",
        "address": "labpower2.example.com",
        "username": "admin",
        "password": "redacted",
        "linked": true,
        "linked_ports": [1, 2, 3]
        "linked_devs": ["/dev/3810", "/dev/2930M"]
        },
    "stagepower": {
        "type": "dli",
        "address": "stagepower.example.com",
        "username": "admin",
        "password": "redacted",
        "linked": true,
        "linked_ports": [3, 8],
        "linked_devs": ["/dev/FT4232H_port2"]
        }
}
