[connection]
id=dhcp
uuid={{uuid}}
type=ethernet
interface-name={{wired_iface}}
permissions=
autoconnect-priority=2
auth-retries=1
autoconnect-retries=1

[ethernet]
mac-address-blacklist=

[ipv4]
dns-search=
method=auto
dhcp-timeout=10

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method={{wired_v6_method}}