####
# ConsolePi eth0 specific dnsmasq instance
####
dhcp-script=/etc/ConsolePi/src/dhcp-trigger.py
interface=eth0
except-interface=wlan0
bogus-priv
domain-needed
dhcp-range={{dhcp_start}},{{dhcp_end}},255.255.255.0,12h
bind-interfaces
resolv-file=/run/dnsmasq/resolv.conf
