dev tun0
persist-tun
persist-key
persist-local-ip
persist-remote-ip
cipher AES-256-CBC
ncp-disable
auth SHA1
tls-client
client
resolv-retry infinite
remote vpn.example.com 1194 udp
lport 0
verify-x509-name "vpn.example.com" name
auth-user-pass
remote-cert-tls server
auth-nocache
<ca>
-----BEGIN CERTIFICATE-----
###redacted###
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
###redacted###
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
###redacted###
-----END PRIVATE KEY-----
</key>
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
###redacted###
-----END OpenVPN Static key V1-----
</tls-auth>
key-direction 1
# ------------------- THE LINES BELOW SHOULD BE INCLUDED for ConsolePi functionality -------------------
# Everything above can be configured however you want, based on how your openVPN server is configured
# The Lines Below are necessary to get Push Notifications once VPN is established
# ------------------------------------------------------------------------------------------------------
#
# run push script to send notification of successful VPN connection
script-security 2
up "/etc/ConsolePi/src/dhcpcd.exit-hook OVPN"

# -- These are necessary for DNS resolution if you have a private DNS server in your environment --
# -- requires script-security 2 to be effective                                                  --
up /etc/openvpn/update-resolv-conf
down /etc/openvpn/update-resolv-conf